---
import Header from "../components/Header.astro";
import Topbar from "../components/Topbar.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import Logo from "../components/Logo.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;

const { blockLeftImage } = Astro.props;
const { blockLeftTitle } = Astro.props;
const { blockLeftContent } = Astro.props;

const { blockRightImage1 } = Astro.props;
const { blockRightTitle1 } = Astro.props;
const { blockRightContent1 } = Astro.props;

const { blockRightImage2 } = Astro.props;
const { blockRightTitle2 } = Astro.props;
const { blockRightContent2 } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Topbar pageTitle={pageTitle} />
    <Logo />
    <Header />

    <Content 
    {blockLeftImage} 
    {blockLeftTitle}
    {blockLeftContent} 
    
    {blockRightImage1}
    {blockRightTitle1}
    {blockRightContent1}
    
    {blockRightImage2}
    {blockRightTitle2}
    {blockRightContent2}/>

    <slot />
  </body>

  <Footer />

  <script>
    import "../scripts/menu.js";
  </script>
</html>
